.git
.github
.dockerignore
CONTRIBUTING.md
Dockerfile
*.env
!.env
tex-bot-deployment.yaml
tex-bot-deployment.*.yaml
tex-bot-deployment.yaml.*.tmp
uv.lock
pyproject.toml
tests
.gitlint
.pre-commit-config.yaml
.taplo.toml
.yamlfmt.yaml
.venv
.python-version
.hadolint.yaml
