# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# mypy cache
.mypy_cache

# Python bytecode cache
__pycache__

# dot-env environment variables file
.env
.env.test

# Other possible cache files
.cache
.cache/

# VSCode settings
.vscode

# JetBrains IDE settings
.idea

# Local files
local/
members_lists.json
