name: Prevent Database Migration Files Deletion

"on":
    pull_request_target:
        branches: [main]

jobs:
    prevent-migrations-deletion:
        permissions:
            pull-requests: read
        runs-on: ubuntu-latest

        steps:
            - name: Prevent migrations files being changed or deleted
              uses: xalvarez/prevent-file-change-action@v3.0.0
              with:
                allowNewFiles: true
                githubToken: ${{secrets.GITHUB_TOKEN}}
                pattern: .*\/db\/.+\/migrations\/\d{4}\w*\.py$
